<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet"
	media="screen">
<link href="../static/css/layout.css" rel="stylesheet" media="screen">
</head>
<body>
	


	<div class="container">

		<div class="column">
			<div>
				<a href="url">Do-it.com</a>
				<div class="pull-right design">
					<a href="url">Create a new Project</a>
				</div>

			</div>

		</div>

	</div>
	<div style="visibility: hidden" class="span3 containerLayout"
		id="hiddenContainer">
		<h4 id="nameToAdd"></h4>
		<ul id="myUL">

			<li><input type="text"    onchange="addValueInLi(this)" class="typeaheadDemo" /></li>
		</ul>

	</div>
	<div align="center" class="container headingfont">
		<h1>DO-IT PROJECT</h1>
	</div>
	<div class="container">
		<div class="row-fluid">
			<div id="colabratorContainer" class="span3 collabarator containerLayout">
				<input type="text" id="collabaratorText" class="typeaheadDemo"/> <input type="button"
					id="addButton" value="+ add" onclick=" showNewConatainer()" />


			</div>
		</div>
	</div>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="../bootstrap/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-typeahead.js"></script>
	<script src="../static/js/doit.js"></script>

</body>
<footer class="footerDesign">
	<div class="container-fluid footerMenu">
		<div class="span3">
			<h4>BACKLOG</h4>
		</div>
		<div class="span3">
			<h4>DONEITEMS</h4>
		</div>
	</div>

</footer>
</html>