<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet"
	media="screen">
<link href="../static/css/layout.css" rel="stylesheet" media="screen">
</head>
<body>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="../bootstrap/js/bootstrap.min.js"></script>
	<script>
		function func(element)
		{
			var node = $(element);
			var text=node.val();
			node.parent().prepend('<li > '+$(element).val()+' </li>');
			
		}
		function show() {
			var textArea = document.getElementById("collabaratorText").value;
			var nameArea = document.getElementById("nameToAdd");
			nameArea.innerHTML = textArea;
			// var a=document.getElementByTag('container1');
			var a = '<div class="span3 containerLayout">'
					+ $('#container1').html() + '</div>'
			$('#container4').before(a)
		}
	</script>


	<div class="container">

		<div class="column">
			<div>
				<a href="url">Do-it.com</a>
				<div class="pull-right design">
					<a href="url">Create a new Project</a>
				</div>

			</div>

		</div>

	</div>
	<div style="visibility: hidden" class="span3 containerLayout"
		id="container1">
		<h4 id="nameToAdd"></h4>
		<ul id="myUL">

			<li><input type="text" onchange="func(this)" id="mmm" /></li>
		</ul>

	</div>
	<div align="center" class="container headingfont">
		<h1>DO-IT PROJECT</h1>
	</div>
	<div class="container">
		<div class="row-fluid">
			<div id="container4" class="span3 collabarator containerLayout">
				<input type="text" id="collabaratorText" /> <input type="button"
					id="addButton" value="+ add" onclick="show()" />


			</div>
		</div>
	</div>

</body>
<footer class="footerDesign">
	<div class="container-fluid footerMenu">
		<div class="span3">
			<h4>BACKLOG</h4>
		</div>
		<div class="span3">
			<h4>DONEITEMS</h4>
		</div>
	</div>

</footer>
</html>